.navbar a { color: white; }
.navbar-header a { font-size: 22px; font-weight: 700; }
.navbar-toggle .icon-bar { background-color: #337ab7 !important; }
.navbar-gradient {
  background: transparent;
  /*background: #ffeeee;*/ /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #ffeeee, #ddefbb);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #ffeeee, #ddefbb);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 26px; /* tamaño del footer */
    text-align: center;
    color: white;/*#0d6aad;*/
    /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
    /*background-size: cover;*/
}
.footer { height: 26px;}  /* tamaño del footer */
.footer, .footer a { color: white;}
i.red { color: #BC0213; }
.wrapper {
  position: relative;
  height: calc(100vh - 120px - 26px);  /* tamaño del header - tamaño del footer */
}
.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  background: transparent;
  /*background: #0cebeb;*/ /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* https://uigradients.com */
.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background-color: #52d3aa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}
