<!-- Navigation -->
<nav class="navbar navbar-gradient navbar-fixed-top topnav" role="navigation">
    <div class="container-fluid topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">AppToYou</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/secure']">Dashboard</a>
                </li>
                <li>
                    <a [routerLink]="['/secure/profile']">Perfil</a>
                </li>
                <li>
                    <a [routerLink]="['/secure/logout']">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="intro-header">
    <router-outlet></router-outlet>
</div>
<div class="footer navbar-fixed-bottom text-right row-fluid">
  <h6>con&nbsp;
    <i class="fa fa-heart red" aria-hidden="true"></i>
    &nbsp;por <a href="mailto:ricardo.martinez.monje@gmail.com">Ricardo Martínez</a>
  </h6>
</div>
